<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.4-build.3588/angular.min.js"></script>
    <script>
        var my_module=angular.module("myModule",[]);
        my_module.controller("myController",function($scope){
             $scope.checkBox=false;
        });
        
        
    </script>
</head>
<body ng-app="myModule" ng-controller="myController" >
    
    
    <form>
        <input type="checkbox" value="Jayant" name="name" ng-model="checkBox">
        <input ng-model="checkBox" type="text" ng-true-value="'true'" ng-false-value="'false'">
        
    </form>
    
    
    
    
    
</body>
</html>