*{
    box-sizing: border-box;
}
.grid{
    margin: 0 auto;
    border:2px solid black;
    display: grid;
    height: 500px;
    width: 400px;
    grid-template: repeat(6, 1fr) / repeat(4,1fr);
    align-items: center;
    gap: 20px;
    padding: 1.5rem;
    background-color:rgba(211, 211, 211, 0.5); 
}
#screen{
    grid-column: 1/ 4;
    text-align: right;
    padding: 8px;
    border:2px solid black;
    font-size: larger;
    font-weight: 900;
    background-color: #fff;
    overflow: hidden;
}
#equal{
    grid-column:1/3 ;
}
div,button{
    background-color: #fff;
    font-size: larger;
    font-weight: 500;
    border-radius: 20px;
    height: 80%;
    border: 1px solid black;
    padding:0;
    outline: none   ;
}
