label{
    font-weight: bold;
    display: inline-block;
    width: 300px;
    font-size: larger;

}
input{
    margin-left:3rem;
    margin-right: 1rem;
    height:30px;
    width: 150px;
    font-size: large;
    transition: box-shadow 200ms ease-in;
}
input:focus{
    box-shadow: 0px 0px 15px 5px grey;
}
div{
    margin: 2rem;
}
.result label{
    width: auto;
}
.result input{
    margin: 0.5rem 2rem;
    width:100px;
}